.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: white;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(240, 240, 240);
  z-index: 100;


}
.left-section {

  display: flex;
  align-items: center;

}
.hamburgr-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(177, 172, 172);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}
.search-bar::placeholder {
  font-family: "Roboto",Arial;
  font-size: 16px;

}
.search-button {
  height: 40px;
  width: 60px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(177, 172, 172);
  margin-left: -1px;
  margin-right: 10px;


}
.search-button, 
.voice-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notification-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip,
.voice-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notification-icon-container .tooltip{
  font-family: "Roboto", Arial;
  position: absolute;
  background-color: gray;
  color: white;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip{
  opacity: 1;
}

.search-icon {
  height: 25px;
}
.voice-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(240, 240, 240);
}
.voice-icon {
  height: 20px;

}

.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.upload-icon {
  height: 24px;
}
.youtube-apps-icon {
  height: 24px;
}
.notifications-icon {
  height: 24px;
}
.notification-icon-container {
  position: relative;
}
.notifications-count{
  font-family: "Roboto", Arial;
  position: absolute;
  top: -2px;
  right: -5px;

  width: 15px;         
  height: 15px;

  background: rgb(182, 7, 7);
  color: white;
  border-radius: 50%;

  display: flex;
  align-items: center;   
  justify-content: center; 

  font-size: 11px;
  line-height: 1;        
  padding: 0;            
}

.pfp {
  height: 24px;
  border-radius: 16px;
}


