 p{
    font-family: "Roboto";
  }


  .video-tital {
  font-weight: bold;
  font-size: 18px;
  width: 300;
  line-height: 24px;
  margin-bottom: 0px;
  }

  .video-stats {
    font-size: 13px;
    color: gray;
    margin-top: 5px;
  }
  .video-maker {
    font-size: 13px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 100px;
  }

  .apple-text {
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    padding-bottom: 18px;
    padding-top: 18px;
    text-align: center;
  
  }

  .underline-text:hover {
    text-decoration: underline;
    cursor: pointer;
  }