.subscribe_button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    height: 35px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px; 
    transition: opacity 0.15s;

  }
  .subscribe_button:hover {
   opacity: 0.7;

  }
  .subscribe_button:active{
    opacity: 0.3;
  }

  .join_button {
    background-color: white;
    color: rgb(75, 188, 203);
    border-color: rgb(75, 188, 203);
    height: 35px;
    width : 70px;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px;
    transition: background-color 0.15s,color 0.15s;
  }
  .join_button:hover{
    background-color: rgb(75, 188, 203);
    color: white;

  }
  .join_button:active{
    opacity: 0.7;
  }

  .tweet_button{
    background-color: rgb(13, 136, 184);
    color: rgb(255, 255, 255);
    border: none;
    height: 35px;
    width : 80px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: box-shadow 0.15s;
  }

  .tweet_button:hover{
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);

  }